
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Calendar";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calendar</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
