
@{
    ViewBag.Title = "ConfirmationSent";
}

<h2> Thank you for registering, a confirmation email has been sent. Please activate your account by clicking confirmation link provided in the email.</h2>

