
@{
    ViewBag.Title = "ConfirmationSent";
}

<h2> Thank you for registering, please activate your account by clicking confirmation link provided in the email. Click @Html.ActionLink("here","Login","Account") to return to the login page.</h2>

